.main {
  position: relative;
  left: 39%;
  top: 100px;
  width: 320px;
  height: 370px;
  background-color: #feffff;
  border: 1px solid #cfdede;
  font-size: 12px;
  font-family: Arial;
  letter-spacing: 0.02px;
}
.main h1 {
  position: relative;
  left: 30px;
  bottom: 3px;
  padding: 3px 9px;
  width: 149px;
  height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #01b3b3;
}
.main .forms {
  padding: 29px 9.6% 0 9.5%;
}
.main .forms input {
  margin: 13px 0 14px 0;
  padding: 10px 11px;
  width: 100%;
  height: 32px;
}
.main .forms p {
  font-weight: 700;
}
.main .forms p span {
  color: #6ac8c8;
}
.main button {
  position: relative;
  width: 260px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #01bcbc;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: 17px 30px;
}
